 <div class="row margin-fix">
  <div class= "col-xs-12 max-auto text center">
    <div class="prefrence-title scan new-color">
      <h1>ADD</h1>
    </div>
    <div class="add-title">
      <h6><strong> ADD YOUR PRODUCT </strong></h6>

    </div>
    <div class="container-add">
      <div class="card-form">
        <div class="form2">
        <%= simple_form_for @scan, remote: true do |f| %>
        <%= f.input :food_item_id, as: :hidden %>
        <%= f.input :product_name, placeholder: 'Bamba'%>
        <%= f.input :ingredients, placeholder: 'Peanuts, Corn, Vegetables, Oil etc...' %>
        <input type="submit" name="commit" value="Update Product" data-disable-with="Update Scan"class="submit">
        <%#= f.submit "Update Scan" %>
        <% end %>
          <%= link_to 'Back to scanner', new_scan_path, class:"back", style:"text-center" %>
        </div>
        <%= image_tag "add.png",class: "image3" %>
      </div>
     </div>
  </div>
</div>


<div id="addedPopup" class="hidden">
  <!-- <h1>Working!</h1> -->
  <%= image_tag "true.png",class: "icone2" %>
  <div class="thx">
    Thanks for your contribution !
  </div>
      <%= link_to 'Back to scanner', new_scan_path, class:"pop-btn", style:"text-center" %>
</div>
<!-- on click show pop up and redirect -->
<script>
  document.body.addEventListener('ajax:beforeSend', function(event) {
    var detail = event.detail;
    // var data = detail[0], status = detail[1], xhr = detail[2];
    console.log("beforeSend", event)
    document.querySelector("#addedPopup").classList.remove("hidden")
  })
</script>
