
  <div class= "col-xs-12 max-auto text center">
    <div class="prefrence-title">
      <h1>RESULTS</h1>
    </div>

<% if @scan.result == nil %>
<%= image_tag "unknown.jpg",class: "image1" %>
<div class="card part2">
  <div class="container">
    <h3><b>Name of the thing</b></h2>
    <h2>Ingredients</h3>
    <p>kerker</p>
  </div>

<% elsif @scan.result == true  %>
<%= image_tag "true.jpg",class: "image1" %>
<div class="card part2">
  <div class="container">
    <h3><b><%= @scan.product_name %></b></h2>
    <h2>Ingredients</h3>
 <ul>
<%= @scan.ingredients.split(",").each do |ingredient|%>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
  </ul>

  <!-- <div style="background-image: url(<%= image_path 'true.jpg' %>)"></div> -->
<% else %>
<%= image_tag "false.jpg",class: "image1" %>
<div class="card part2">
  <div class="container">
    <h3><b>@scan.product_name</b></h2>
    <h2>Ingredients</h3>
 <ul>
<%= @scan.ingredients.split(",").each do |ingredient|%>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
  </ul>

<% end %>

 <div class="return-btn text-center">
    <%= link_to '', new_scan_path, class:"button", style:"text-center" %>
  </div>
</div>
