<div class="row margin-fix margin-fixed">
  <div class= "col-xs-12 max-auto text center <%= @diet.name.downcase %>">
    <div class="title-show">
      <h1>Ingredient Categories</h1>
    </div> <!-- end of prefrence-title-->
      <% @black_list_by_category.each do |category, ingredients| %>
       <div class="decoration-show dropdown">
        <div class="ingredient-categories-button flex-container-show dropbtn">
      <!-- Iterating over all the categories.
      1)a href = Creating a link to the categories
      2) onClick = Calling a function(see below) when you click on it.
      3)category = the category you click
      4)return false: we are disabling the link -->
          <div class="flex-item">
            <%= image_tag("#{category.parameterize}.png", alt: "#{category.parameterize}", class: "icon-show padding-left")%>
          </div><!--end of flex item-->
          <div class="flex-item white-color decoration-show">
            <%= category.capitalize %>
          </div><!-- end of flex item-->
          <div class="flex-item padding-right">
            <i class="fas fa-chevron-right padding-right white-color"></i>
          </div><!--end flex-item-->
        </div><!--iend ingredient button-->
          <ul class="li-style dropdown-content collapsed">
            <% ingredients.each do |ingredient| %>
            <div class="list-div">
             <li><%= ingredient.name %></li>
            </div>
            <% end %>
          </ul>
       </div><!--end dropdown-->
      <%end%>
  </div><!-- end of col-->
</div><!-- end of row-->


<div class="flex-container-show-buttons">
  <%= link_to "Back", new_diet_path, class:"link-2" %>
  <%= link_to "Scan Now", diets_path(diet_name: @diet.name),class:"link", method: :post %>

<!-- <div class="flex-container-show-buttons footer">
  <%#= link_to new_diet_path, class:"link-2 green-btn" do %>
  <p>Back</p>
  <div class="flex-item button-show">
  </div>
  <%#end%>
  <%#= link_to diets_path(diet_name: @diet.name),class:"link white-btn", method: :post do %>
  <div class="flex-item button-show">
    <p>Scan Now</p>
  </div>
  <%#end%>-->
</div><!--end flex-container-->

<!-- This is how you write javascript in erb. Better not to. But you can. -->
<!-- <script> -->
<!-- function showIngredients(category) {
  // element = is the argument which is the a link
  // parentElement = is the parent element of the a href which is the div
  // classList = you are getting access to the class of ul
  // toggle = if hidden exsits then delete it. If it doesnt exsit then add it
  // We have it so it will delete it
  document.querySelector(`ul.ingredients-${category}`).classList.toggle("collapsed")
  document.querySelector(`ul.ingredients-${category}`).classList.toggle("padding-fix")
  // element.parentElement.querySelector("ul.ingredients").classList.toggle("collapsed")
}
 -->
<!-- </script>
<script> -->
  <!-- function rotateArrow(r) {
    const arrow = document.querySelector(`.arrow-dropdown-${r}`);
    arrow.classList.toggle("arrow-dropdown-down")
    // arrow.style.transform = "rotate(90deg)";
  }
  // arrow.addEventListener('click', rotateArrow()); -->
<!-- </script> -->
